<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
  </configSections>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
  </startup>
  <connectionStrings>
    <add name="fabio.Properties.Settings.bulonera2ConnectionString"
      connectionString="Data Source=EMMANUELJULIO\SA;Initial Catalog=bulonera2;Integrated Security=True"
      providerName="System.Data.SqlClient" />
    <add name="fabio.Properties.Settings.bulonera2ConnectionString1"
      connectionString="Data Source=EMMALAP\SA;Initial Catalog=bulonera2;Integrated Security=True"
      providerName="System.Data.SqlClient" />
    <add name="EntityBulonera" connectionString="metadata=res://*/Model1.csdl|res://*/Model1.ssdl|res://*/Model1.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=SERVER2016;initial catalog=bulonera2;persist security info=True;user id=sa;MultipleActiveResultSets=True;App=EntityFramework&quot;"
      providerName="System.Data.EntityClient" />
    <add name="bulonera2Entities" connectionString="metadata=res://*/Model1.csdl|res://*/Model1.ssdl|res://*/Model1.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=EMMANUELJULIO\SA;initial catalog=bulonera2;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework&quot;"
      providerName="System.Data.EntityClient" />
    <add name="EntityBulonera2" connectionString="metadata=res://*/Model1.csdl|res://*/Model1.ssdl|res://*/Model1.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=EMMANUELJULIO\SA;initial catalog=bulonera2;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework&quot;"
      providerName="System.Data.EntityClient" />
    <add name="bulonera2Entities1" connectionString="metadata=res://*/Models.Model1.csdl|res://*/Models.Model1.ssdl|res://*/Models.Model1.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=EMMANUELJULIO\SA;initial catalog=bulonera2;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework&quot;"
      providerName="System.Data.EntityClient" />
    <add name="bulonera2Entities2" connectionString="metadata=res://*/Models.Model1.csdl|res://*/Models.Model1.ssdl|res://*/Models.Model1.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=EMMALAP\SA;initial catalog=bulonera2;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework&quot;"
      providerName="System.Data.EntityClient" />
    <add name="bulonera2" connectionString="metadata=res://*/Models.Bulonera2.csdl|res://*/Models.Bulonera2.ssdl|res://*/Models.Bulonera2.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=EMMANUELJULIO\DESARROLLO;initial catalog=bulonera2;persist security info=True;user id=sa;password=$%Fabio1;MultipleActiveResultSets=True;App=EntityFramework&quot;"
      providerName="System.Data.EntityClient" />
    <add name="bulonera2Entitys" connectionString="metadata=res://*/Models.Bulonera2.csdl|res://*/Models.Bulonera2.ssdl|res://*/Models.Bulonera2.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=EMMANUELJULIO\DESARROLLO;initial catalog=bulonera2;persist security info=True;user id=sa;password=$%Fabio1;MultipleActiveResultSets=True;App=EntityFramework&quot;"
      providerName="System.Data.EntityClient" />
    <add name="fabio.Properties.Settings.bulonera2ConnectionString2"
      connectionString="Data Source=EMMANUELJULIO\DESARROLLO;Initial Catalog=bulonera2;Persist Security Info=True;User ID=sa;Password=$%Fabio1"
      providerName="System.Data.SqlClient" />
  </connectionStrings>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.LocalDbConnectionFactory, EntityFramework">
      <parameters>
        <parameter value="mssqllocaldb" />
      </parameters>
    </defaultConnectionFactory>
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
    </providers>
  </entityFramework>
</configuration>